<section class="section contact">
  <div class="contact-container">
    <h2 class="section-title">Contact Me</h2>

    <p>Let's build something great together 🚀</p>

    <div class="contact-buttons">
      <a href="mailto:nadave112@gmail.com" class="contact-btn">✉️ Email Me</a>
      <a href="https://il.linkedin.com/in/nadav-shitrit-39a3b321a?trk=people-guest_people_search-card" target="_blank" class="contact-btn">💼 LinkedIn</a>
      <a href="https://wa.me/972545515390" target="_blank" class="contact-btn">💬 WhatsApp</a>
    </div>
  </div>
</section>
