<section class="section home">
  <div class="home-wrapper">
    <div class="profile-pic">
      <img src="assets/nadav.jpeg" alt="Nadav" />
    </div>

    <div class="intro-text">
      <h1>Hey, I'm <span class="blue">Nadav</span> 👋</h1>
      <p>Full Stack Developer · Entrepreneur · Computer Science student 🧠</p>
      <a href="#projects" style="margin-right: 16px;" class="btn">See My Work</a>
      <a href="assets/nadav-shitrit-resume.pdf" download class="btn outline">Download Resume</a>
    </div>
  </div>
</section>
